DataViz/NeuronNetwork/NeuronNetwork/Temp/
DataViz/NeuronNetwork/NeuronNetwork/Library
DataViz/NeuronNetwork/NeuronNetwork/obj
DataViz/NeuronNetwork/NeuronNetwork/Export
tools/EmotionKinectFace/application.windows64/
